[submodule "homeworks/hw2/app"]
	path = homeworks/hw2/app
	url = https://github.com/felix-wang-0307/simple-weather-search.git
[submodule "homeworks/hw3"]
	path = homeworks/hw3
	url = https://github.com/felix-wang-0307/weather-search-web.git
[submodule "homeworks/hw4"]
	path = homeworks/hw4
	url = https://github.com/felix-wang-0307/weather-search-ios
